*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-weight: 300;
    font-size: 1.05rem;
    font-family: 'Courier New', Courier, monospace;

}
.btn{
    font-family: inherit;
    cursor: pointer;

}

.text{
    opacity: 0.8;
}

.title{
    font-size: 2rem;
}
.container{
    min-height: 100vh;
}

.meal-wrapper{
    max-width: 1280px;
margin: 0 auto;
padding: 2rem;
background: #fff;
text-align: center;
}

.meal-search{
    font-size: 2rem 0; 
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;


}
.search-control,
.search-btn{
    width: 100%;
}

.search-control{
    border: 2px solid;
    border-color: orange ;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 2rem;
    font-size: 1.1rem;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.search-control::placeholder{
    color: orange;
}

.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: orange;
    color: #fff;
    border: none;
    border-bottom-right-radius: 32px;
    border-top-right-radius: 32px;
}

.search-btn:hover{
    background: aqua;
    box-shadow:0 4px 21px -12px rgba(0, 0, 0, 79);


}

.meal-result{
    margin-top: 4rem;
    
}

#meal{
    margin: 2.4rem 0;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; */
}

.meal-item{
    border-radius: 1rem;
    overflow: hidden;
    box-shadow:0 4px 21px -12px rgba(0, 0, 0, 79);
    margin: 2rem 0;
}

.meal-img{
width: 100%;
    display: block;
    
}
.meal-name{
    padding: 1.5rem 0.5rem;
}

.recipe-btn{
    text-decoration: none;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background: orange;
    border-radius: 3rem;
    display: block;
    width: 160px;
    margin: 1rem auto;


}
.recipe-btn:hover{
    background: aqua;
    box-shadow:0 4px 21px -12px rgba(0, 0, 0, 79);
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
/* media screen is to adjust for the user is using the webpage in tab , mobile or laptop */
@media screen and (min-width:600px){
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;

    }
}

@media screen and (min-width:768px) {
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
}


@media screen and (min-width:992px) {
    #meal{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
    background: orange;
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow: scroll;
    display: none;
    /* display:block ; */
    padding: 2rem 0;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
    /* hides the scroll bar */
}
.meal-details::-webkit-scrollbar-thumb{
    background: white;
    
 border-radius: 2rem;   
}

.showRecipe{
    display: block;

}
.meal-details-content{
    margin: 2rem;

}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: #fff;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;

}


.recipe-category{
 background: #fff;
 font-weight: 600;
 color: orange;
 display: inline-block;
 padding: 0.2rem,0.5rem;
 border-radius: 0.3rem;

}

.recipe-instructions{
    padding: 1rem 0;
}

.recipe-meal-img img{
    height:100px; 
    width:100px;
    border-radius: 50%;
margin: 0 auto;
display: block;
}

.recipe-link{
    margin: 1.4rem 0;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;

}





